<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.callmyphone.edut.locationproject">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <permission
        android:name="lk.adspace.jaffnatemples.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- permissions for GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.ram.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GPSLocations" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GPSLocationActivity"
            android:label="@string/title_activity_gpslocation" />

        <!--
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="v3" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="your api key" />
        -->

        <activity android:name=".QrActivity" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">

        </activity>

        <activity android:name="com.callmyphone.edut.locationproject.Activity_BTLE_Services" />

        <activity android:name="com.callmyphone.edut.locationproject.MainActivityBle" />

        <service
            android:name="com.callmyphone.edut.locationproject.Service_BTLE_GATT"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>